<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="loggly-csharp" version="2.5.1" targetFramework="net45" />
  <package id="LogglyTarget" version="0.0.1.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Config" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Schema" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Targets.Loggly" version="1.0.1" targetFramework="net45" />
  <package id="NLogTwitterTarget" version="0.1" targetFramework="net45" />
  <package id="twitterizer" version="2.3.2" targetFramework="net45" />
</packages>